## Oficina de Análise de Dados 
### Teste Básico do Pandas
### Instrutor: Antonio Willian Sousa

#### Primeiro executamos a instalação do pandas e algumas bibliotecas que ajudaram ao longo do nosso curso

In [12]:
!pip install pandas
!pip install matplotlib
!pip install openpyxl
!pip install Beautifulsoup4 html5lib lxml
!pip install xlrd

Requirement already satisfied: pandas in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: matplotlib in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (3.3.2)
Requirement already satisfied: pillow>=6.2.0 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: numpy>=1.15 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: certifi>=2020.06.20 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six>=1.5 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Requirement already satisfied: openpyxl in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (3.0.5)
Requirement already satisfied: et-xmlfile in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: Beautifulsoup4 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (4.9.3)
Requirement already satisfied: html5lib in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (1.1)
Requirement already satisfied: lxml in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (4.6.1)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from Beautifulsoup4) (2.0.1)
Requirement already satisfied: webencodings in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (from html5lib) (1.15.0)
Requirement already satisfied: xlrd in /home/willian/anaconda3/envs/curso_prce/lib/python3.8/site-packages (1.2.0)

#### Exemplo simples de construção de uma tabela de dados no Pandas

In [13]:
import pandas as pd

todos_clientes = [[22,0,1.70,75,0,1,2500],
                  [52,1,1.75,80,0,1,2500],
                  [31,1,1.50,65,1,1,4500],
                  [65,1,1.95,86,0,0,6500],
                  [17,0,1.81,95,0,1,1500],
                  [54,0,1.65,80,1,0,3500],
                  [30,0,1.90,105,1,1,1200],
                  [25,1,1.85,65,1,1,2245],
                  [49,0,1.71,75,0,0,25000],
                  [26,1,1.81,80,1,1,8000]]

df_clientes = pd.DataFrame(data=todos_clientes, 
                           columns=["idade", "nacionalidade",
                                    "altura", "peso", "sexo",
                                    "gosta de futebol", "salario"])

# Exibe os dados do dataframe em formato tabular
print("\nDados do dataframe organizados de forma tabular\n")
print(df_clientes.to_string())

# Exibe os dados do dataframe como csv
print("\nDados do dataframe organizados como CSV\n")
print(df_clientes.to_csv(sep=",", index=False))

# Armazena os dados do dataframe em um arquivo csv
df_clientes.to_csv("dados_clientes.csv", index=False)

# Armazena os dados do dataframe em um arquivo json
df_clientes.to_json("dados_clientes.json", orient="records")

df_clientes.to_json("dados_clientes_norient.json")

Dados do dataframe organizados de forma tabular

   idade  nacionalidade  altura  peso  sexo  gosta de futebol  salario
0     22              0    1.70    75     0                 1     2500
1     52              1    1.75    80     0                 1     2500
2     31              1    1.50    65     1                 1     4500
3     65              1    1.95    86     0                 0     6500
4     17              0    1.81    95     0                 1     1500
5     54              0    1.65    80     1                 0     3500
6     30              0    1.90   105     1                 1     1200
7     25              1    1.85    65     1                 1     2245
8     49              0    1.71    75     0                 0    25000
9     26              1    1.81    80     1                 1     8000

Dados do dataframe organizados como CSV

idade,nacionalidade,altura,peso,sexo,gosta de futebol,salario
22,0,1.7,75,0,1,2500
52,1,1.75,80,0,1,2500
31,1,1.5,65,1,1,4500
65,1,1.95,86,0,0,6500
17,0,1.81,95,0,1,1500
54,0,1.65,80,1,0,3500
30,0,1.9,105,1,1,1200
25,1,1.85,65,1,1,2245
49,0,1.71,75,0,0,25000
26,1,1.81,80,1,1,8000

In [14]:
# Carrega os dados dos clientes armazenados no arquivo csv
import csv
with open("dados_clientes.csv") as f:
    data = csv.reader(f, delimiter=',', quotechar='"')    
    #Itera as linhas do arquivo
    for linha in data:
        print(str(linha))

['idade', 'nacionalidade', 'altura', 'peso', 'sexo', 'gosta de futebol', 'salario']
['22', '0', '1.7', '75', '0', '1', '2500']
['52', '1', '1.75', '80', '0', '1', '2500']
['31', '1', '1.5', '65', '1', '1', '4500']
['65', '1', '1.95', '86', '0', '0', '6500']
['17', '0', '1.81', '95', '0', '1', '1500']
['54', '0', '1.65', '80', '1', '0', '3500']
['30', '0', '1.9', '105', '1', '1', '1200']
['25', '1', '1.85', '65', '1', '1', '2245']
['49', '0', '1.71', '75', '0', '0', '25000']
['26', '1', '1.81', '80', '1', '1', '8000']

#### Python também pode ser utilizados para lidar com dados em json

In [15]:
# Carrega os dados dos clientes armazenados no arquivo json
import json
dados_clientes_json = None
with open("dados_clientes.json", "r") as read_file:
    # Itera as linhas do arquivo
    dados_clientes_json = json.load(read_file)

print(dados_clientes_json)

with open("dados_clientes_norient.json", "r") as read_file:
    # Itera as linhas do arquivo
    dados_clientes_json = json.load(read_file)

print(dados_clientes_json)

[{'idade': 22, 'nacionalidade': 0, 'altura': 1.7, 'peso': 75, 'sexo': 0, 'gosta de futebol': 1, 'salario': 2500}, {'idade': 52, 'nacionalidade': 1, 'altura': 1.75, 'peso': 80, 'sexo': 0, 'gosta de futebol': 1, 'salario': 2500}, {'idade': 31, 'nacionalidade': 1, 'altura': 1.5, 'peso': 65, 'sexo': 1, 'gosta de futebol': 1, 'salario': 4500}, {'idade': 65, 'nacionalidade': 1, 'altura': 1.95, 'peso': 86, 'sexo': 0, 'gosta de futebol': 0, 'salario': 6500}, {'idade': 17, 'nacionalidade': 0, 'altura': 1.81, 'peso': 95, 'sexo': 0, 'gosta de futebol': 1, 'salario': 1500}, {'idade': 54, 'nacionalidade': 0, 'altura': 1.65, 'peso': 80, 'sexo': 1, 'gosta de futebol': 0, 'salario': 3500}, {'idade': 30, 'nacionalidade': 0, 'altura': 1.9, 'peso': 105, 'sexo': 1, 'gosta de futebol': 1, 'salario': 1200}, {'idade': 25, 'nacionalidade': 1, 'altura': 1.85, 'peso': 65, 'sexo': 1, 'gosta de futebol': 1, 'salario': 2245}, {'idade': 49, 'nacionalidade': 0, 'altura': 1.71, 'peso': 75, 'sexo': 0, 'gosta de futebol': 0, 'salario': 25000}, {'idade': 26, 'nacionalidade': 1, 'altura': 1.81, 'peso': 80, 'sexo': 1, 'gosta de futebol': 1, 'salario': 8000}]
{'idade': {'0': 22, '1': 52, '2': 31, '3': 65, '4': 17, '5': 54, '6': 30, '7': 25, '8': 49, '9': 26}, 'nacionalidade': {'0': 0, '1': 1, '2': 1, '3': 1, '4': 0, '5': 0, '6': 0, '7': 1, '8': 0, '9': 1}, 'altura': {'0': 1.7, '1': 1.75, '2': 1.5, '3': 1.95, '4': 1.81, '5': 1.65, '6': 1.9, '7': 1.85, '8': 1.71, '9': 1.81}, 'peso': {'0': 75, '1': 80, '2': 65, '3': 86, '4': 95, '5': 80, '6': 105, '7': 65, '8': 75, '9': 80}, 'sexo': {'0': 0, '1': 0, '2': 1, '3': 0, '4': 0, '5': 1, '6': 1, '7': 1, '8': 0, '9': 1}, 'gosta de futebol': {'0': 1, '1': 1, '2': 1, '3': 0, '4': 1, '5': 0, '6': 1, '7': 1, '8': 0, '9': 1}, 'salario': {'0': 2500, '1': 2500, '2': 4500, '3': 6500, '4': 1500, '5': 3500, '6': 1200, '7': 2245, '8': 25000, '9': 8000}}

### A Biblioteca Pandas

In [20]:
import pandas as pd

todos_clientes = [[22,0,1.70,75,0,1,2500],
                  [52,1,1.75,80,0,1,2500],
                  [31,1,1.50,65,1,1,4500],
                  [65,1,1.95,86,0,0,6500],
                  [17,0,1.81,95,0,1,1500]]

df_clientes = pd.DataFrame(data=todos_clientes, 
                           columns=["idade", "nacionalidade",
                                    "altura", "peso", "sexo",
                                    "gosta de futebol", "salario"],
                          index=["Ana","Beto","Bia","Carlos","Carol"])

df_clientes

        idade  nacionalidade  altura  peso  sexo  gosta de futebol  salario
Ana        22              0    1.70    75     0                 1     2500
Beto       52              1    1.75    80     0                 1     2500
Bia        31              1    1.50    65     1                 1     4500
Carlos     65              1    1.95    86     0                 0     6500
Carol      17              0    1.81    95     0                 1     1500

TypeError: '(slice(None, None, None), 'Ana')' is an invalid key

In [17]:
import pandas as pd

dados_clientes = {"idade": [22, 52, 31, 65, 17],
                  "nacionalidade": ["brasileiro","estrangeiro","estrangeiro", "estrangeiro", "brasileiro"],
                  "altura": [1.7 ,    1.75,    1.5 ,    1.95,    1.81], 
                  "peso": [75.  ,   80.  ,   65.  ,   86.  ,   95.], 
                  "sexo": ["feminino", "masculino", "feminino", "masculino", "feminino"],
                  "gosta de futebol": [True, True, True, False, True], 
                  "salario": [2500, 2500, 4500, 6500, 1500]}

df_clientes = pd.DataFrame(data=dados_clientes,                           
                          index=["Ana","Beto","Bia","Carlos","Carol"])

print("\n{}".format(df_clientes.loc["Ana"]))
print("\n{}".format(df_clientes["idade"]))
print("\n{}".format(df_clientes["idade"]["Ana"]))
print("\n{}".format(df_clientes[df_clientes["idade"] > 32]))

idade                       22
nacionalidade       brasileiro
altura                     1.7
peso                        75
sexo                  feminino
gosta de futebol          True
salario                   2500
Name: Ana, dtype: object

Ana       22
Beto      52
Bia       31
Carlos    65
Carol     17
Name: idade, dtype: int64

22

        idade nacionalidade  altura  peso       sexo  gosta de futebol  \
Beto       52   estrangeiro    1.75  80.0  masculino              True
Carlos     65   estrangeiro    1.95  86.0  masculino             False

        salario
Beto       2500
Carlos     6500

In [18]:
# Exemplos de indexação, seleção e filtragem

# seleciona diferentes linhas e colunas
df_clientes.loc[["Ana", "Beto", "Bia"], ["idade","sexo","salario"]]

# seleciona baseado em critério
df_filtro = df_clientes.loc[:, ["idade","sexo","salario"]][df_clientes.salario > 3000]
print("\nDataFrame filtrado por colunas e critério: \n{}".format(df_filtro))

cols_nome = {"lista1": [10,20,20],
            "lista2": [45,45,45]}

# Criando um dataframe a partir de um dicionário
# de listas
df_cols = pd.DataFrame(cols_nome)
print("\nDataFrame de dicionário de dicionários: \n{}".format(df_cols))

# Criando um dataframe a partir de um dicionário
# de dicionários
dic_of_dics = {"dic1": {"chave1": 10, "chave2": 10},
               "dic2": {"chave1": 10, "chave2": 20}}
df_dod = pd.DataFrame(dic_of_dics)
print("\nDataFrame de dicionário de dicionários: \n{}".format(df_dod))

# Criando um dataframe a partir de uma lista
# de listas
list_of_lists = [[10,20,20], [45,45,45]]
df_lol = pd.DataFrame(list_of_lists)
print("\nDataFrame de lista de listas: \n{}".format(df_lol))

# Criando um dataframe a partir de uma lista
# de dicionários
list_of_dics = [{"chave1": 10, "chave2": 10},{"chave1": 10, "chave2": 20}]
df_lod = pd.DataFrame(list_of_dics)
print("\nDataFrame de lista de dicionários: \n{}".format(df_lod))

DataFrame filtrado por colunas e critério:
        idade       sexo  salario
Bia        31   feminino     4500
Carlos     65  masculino     6500

DataFrame de dicionário de dicionários:
   lista1  lista2
0      10      45
1      20      45
2      20      45

DataFrame de dicionário de dicionários:
        dic1  dic2
chave1    10    10
chave2    10    20

DataFrame de lista de listas:
    0   1   2
0  10  20  20
1  45  45  45

DataFrame de lista de dicionários:
   chave1  chave2
0      10      10
1      10      20